EnsitechTest/EnsitechTest/bin/
EnsitechTest/Ensitech.Entities/bin/
EnsitechTest/Ensitech.Logic/bin/
EnsitechTest/Ensitech.Data/bin/
EnsitechTest/EnsitechTest/obj/Debug/
EnsitechTest/Ensitech.Entities/obj/Debug/
EnsitechTest/Ensitech.Logic/obj/Debug/
EnsitechTest/Ensitech.Data/obj/Debug/
EnsitechTest/packages/
